<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.lhyz.android.zhihu.dialy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ZhihuDailyApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".activity.ContentActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.lhyz.android.zhihu.dialy.activity.MainActivity"/>
        </activity>

        <!-- Provider -->
        <provider
            android:name=".provider.StoryProvider"
            android:authorities="io.lhyz.android.zhihu.dialy.provider.StoryProvider"
            android:exported="false"/>

        <provider
            android:name=".provider.TopStoryProvider"
            android:authorities="io.lhyz.android.zhihu.dialy.provider.TopStoryProvider"
            android:exported="false"/>

        <provider
            android:name=".provider.SingleStoryProvider"
            android:authorities="io.lhyz.android.zhihu.dialy.provider.SingleStoryProvider"
            android:exported="false"/>

        <!-- Service -->
        <service android:name=".service.UpdateService"/>

    </application>

</manifest>
